---
layout: default
title: Home
cover: false
tipue-search: true
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="{{ page.logo }}" alt="Blog Logo" />
        </a>
        {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> About me </a> {% endif %}
            </h2>
            <input type="text" id="tipue_search_input" autocomplete="on" required>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
    <div id="tipue_search_content"></div>
    <div id="blog_content">
        <article class="post">

            <h1 class="post-title">Sorry, couldn't find your post</h1>

            <section class="post-content">
                <p>Try searching for what you were looking for above, it's really fast!</p>
            </section>

        </article>
    </div>
</main>
